IC004-900/BW/IC004-900-019-FGL-PIXInventorySnapshot/Schemas/Common/GetSequenceSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/GetSeqUnceSchema" xmlns:tns="http://www.example.org/GetSeqUnceSchema" elementFormDefault="qualified">

    <element name="GetSequenceNumber"
    	type="tns:GetSequenceNumberType">
    </element>
    
    <complexType name="GetSequenceNumberType">
    	<sequence>
    		<element name="SequenceNumber" type="int"></element>
    		<element name="STGSchemaName" type="string"></element>
    	</sequence>
    </complexType>
</schema>