IC004-900/BW/IC004-900-019-FGL-PIXInventorySnapshot/Schemas/FGLPIXInventoryService/Source_PIX_MisDC/PixTransactionsMessagefromWMV1_00_00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2018 sp1 (http://www.altova.com) by It Asset Management (MARKS WORK WEARHOUSE LIMITED) -->
<xs:schema xmlns:ns2="http://www.fgl.com/DataStagePixTransaction" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://www.fgl.com/PixTransactions" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:attributeGroup name="ElementControlAttributeGroup">
		<xs:attribute name="Action">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="INSERT"/>
					<xs:enumeration value="UPDATE"/>
					<xs:enumeration value="DELETE"/>
					<xs:enumeration value="NONE"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:element name="Message">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MessageId" type="xs:string"/>
				<xs:element name="MessageType" type="xs:string"/>
				<xs:element name="SubjectArea" type="xs:string"/>
				<xs:element name="SbuNumber" type="xs:string"/>
				<xs:element name="SbuCode" type="xs:string"/>
				<xs:element name="SbuName" type="xs:string"/>
				<xs:element name="DataSourceCode" type="xs:string"/>
				<xs:element name="DataSourceCodeName" type="xs:string"/>
				<xs:element name="AuditMessages" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Count" type="xs:long"/>
							<xs:element name="SystemTransition">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Index" type="xs:long"/>
										<xs:element name="Timestamp" type="xs:date"/>
										<xs:element name="Protocol" type="xs:string"/>
										<xs:element name="ProtocolDetails" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="SourceSystems" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Count" type="xs:long"/>
							<xs:element name="SourceSystem">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Index" type="xs:long"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="PixTransaction"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PixTransaction">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PXSTYL00" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PXPROC" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXPRDT" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXPRTM" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXDCR" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXTCR" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXTXTP" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXTXCD" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXTRAN" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXSEQN" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXCASN" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXCO" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXDIV" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXSEA" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXSYR" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXSTYL" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXSSFX" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXCOLR" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXCSFX" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXSDIM" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXQUAL" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXSZCD" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXSZPO" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXINVT" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXPRST" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXBCHN" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXSA1" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXSA2" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXSA3" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXSA4" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXSA5" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXBRCD" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXAREA" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXZONE" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXAISL" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXBAY" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXLEVL" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXPOSN" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXLFID" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXINVA" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXINAT" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXUM" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXRCFR" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXWHSE" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXRWHS" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXRSCD" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXSHDS" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXRVAR" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXWGHT" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXRCMP" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXCSSH" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXUNSH" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXCSRC" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXUNRC" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXRCD1" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXREF1" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXRCD2" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXREF2" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXRCD3" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXREF3" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXRCD4" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXREF4" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXRCD5" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXREF5" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXRCD6" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXREF6" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXRCD7" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXREF7" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXRCD8" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXREF8" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXPXR1" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXPXR2" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXPXR3" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXACCD" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXCSRF" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXSHMT" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXPON" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXPOLN" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXVASN" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXRCEX" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXCREX" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXPGM" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXJBNM" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXJOBN" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXUSER" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXUSID" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXERR" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXSZDS" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXCNOR" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXENTN" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXXSEQ" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXSTF1" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXSTF2" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXSTF3" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXINVI" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXBCTN" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXMIS1" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXMIS2" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXMIS3" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXNUM1" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXNUM2" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXNUM3" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="PXESIG" type="xs:string" nillable="true" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
